.product {
  margin-bottom: 30px;
}

.product-item-container {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: auto hidden;
  scroll-snap-type: inline mandatory;
  overscroll-behavior-inline: contain;
}

.product-item {
  min-width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  border: 1px solid var(--off-white);
  border-radius: 10px;
  scroll-snap-align: start;
}

.product-img-box {
  background: var(--off-white);
  border: 1px solid hsl(0, 0%, 80%);
  padding: 10px;
  border-radius: 5px;
}

.product-content-box {
  width: 100%;
}

.product-content-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.product-item-title {
  color: var(--gray-3);
  font-size: var(--fs-9);
  font-weight: 600;
  text-transform: uppercase;
}

.product-item-amount {
  color: var(--gray-2);
  font-size: var(--fs-11);
}

.product-btn {
  color: var(--pink);
  font-size: var(--fs-9);
  font-weight: 500;
  text-transform: capitalize;
}

@media (min-width: 570px) {
  .product-item-container {
    gap: 30px;
  }

  .product-item {
    min-width: calc(50% - 15px);
  }
}

@media (min-width: 768px) {
  .product-img-box {
    padding: 20px;
  }
}

@media (min-width: 1024px) {
  .product-item {
    min-width: calc(33.33% - 20px);
  }

  .product-img-box {
    padding: 10px;
  }
}

@media (min-width: 1200px) {
  .product-item {
    min-width: calc(25% - 22.5px);
  }

  .product-item-title {
    --fs-9: 0.824rem;
  }
}
