.service-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px 15px;
  border: 1px solid var(--off-white);
  border-radius: 10px;
}

.service-item {
  min-width: 190px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.service-icon {
  font-size: 35px;
  color: var(--pink);
  transition: var(--transition-timing);
}

.service-icon svg {
  stroke-width: 25px;
}

.service-item:hover .service-icon {
  color: var(--gray-3);
}

.service-title {
  color: var(--gray-2);
  font-size: var(--fs-7);
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.service-desc {
  color: var(--gray-2);
  font-size: var(--fs-9);
}

@media (width>=1024px) {
  .service {
    width: 100%;
  }

  .service-container {
    gap: 0;
  }

  .service-item {
    flex-direction: column;
    text-align: center;
    min-width: 20%;
  }
}

@media (width>=1200px) {
  .service-container {
    justify-content: flex-start;
    gap: 16px;
    padding: 30px;
  }

  .service-item {
    flex-direction: row;
    text-align: left;
  }
}
