.product-minimal {
  margin-bottom: 30px;
}

.product-minimal .product-showcase {
  margin-bottom: 10px;
}

.product-minimal .showcase-wrapper {
  display: flex;
  align-items: center;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
}

.product-minimal .showcase-container {
  min-width: 100%;
  padding: 0 5px;
  scroll-snap-align: start;
}

.product-minimal .showcase {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  border: 1px solid var(--off-white);
  padding: 15px;
  border-radius: 10px;
}

.product-minimal .showcase:not(:last-child) {
  margin-bottom: 15px;
}

.product-minimal .showcase-content {
  width: calc(100% - 85px);
}

.product-minimal .showcase-title {
  color: var(--gray-3);
  font-size: var(--fs-7);
  font-weight: 600;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2px;
}

.product-minimal .showcase-category {
  width: max-content;
  color: var(--gray-4);
  font-size: var(--fs-8);
  text-transform: capitalize;
  margin-bottom: 3px;
}

.product-minimal .showcase-category:hover {
  color: var(--pink);
}

.product-minimal .price-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-minimal .price {
  font-size: var(--fs-7);
  font-weight: 700;
  color: var(--pink);
}

.product-minimal .price-box del {
  font-size: var(--fs-9);
  color: var(--gray-2);
}

@media (width >= 570px) {
  .product-minimal .showcase-container {
    min-width: 50%;
  }
}

@media (width >= 768px) {
  .product-minimal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .product-minimal .product-showcase {
    min-width: calc(50% - 10px);
    width: calc(50% - 10px);
  }

  .product-minimal .showcase-container {
    min-width: 100%;
  }
}

@media (width >= 1024px) {
  .product-minimal {
    margin-bottom: 20px;
  }

  .product-minimal .product-showcase {
    min-width: calc(33.33% - 14px);
    width: calc(33.33% - 14px);
    flex-grow: 1;
  }

  .product-minimal .showcase-wrapper {
    gap: 10px;
  }

  .product-minimal .showcase-container {
    padding: 2px;
  }
}
